@model IEnumerable<AmazonWebsite.Areas.Admin.Models.Department>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-5 text-center">
    <h1 class="display-4 text-primary font-weight-bold">Department</h1>

</div>

<p>
    <a class="btn btn-success mt-3" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentInfor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentInfor)
            </td>
            <td>
                    <a class="btn btn-success " asp-action="Edit" asp-route-id="@item.DepartmentId">Edit</a>
                    <a class="btn btn-success "  asp-action="Details" asp-route-id="@item.DepartmentId">Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.DepartmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
