@model IEnumerable<AmazonWebsite.Areas.Admin.Models.ProductType>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-5 text-center">
    <h1 class="display-4 text-primary font-weight-bold">Product type</h1>
</div>

<p>
    <a class="btn btn-success m-1" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeAliasName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="fw-bold">
                @Html.DisplayFor(modelItem => item.TypeName)
            </td>
            <td class="fw-bold">
                @Html.DisplayFor(modelItem => item.TypeAliasName)
            </td>
                <td class="fw-bold">
                @Html.DisplayFor(modelItem => item.Description)
            </td class="fw-bold">
          
            <td>
                    <a class="btn btn-success m-1 d-block" asp-action="Edit" asp-route-id="@item.TypeId">Edit</a> 
                    <a class="btn btn-success m-1 d-block" asp-action="Details" asp-route-id="@item.TypeId">Details</a> 
                    <a class="btn btn-danger m-1 d-block" asp-action="Delete" asp-route-id="@item.TypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
