@model AmazonWebsite.Areas.Admin.Models.OrderDetail

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="container mt-5 text-center">
    <h1 class="display-4 text-primary font-weight-bold">Detail</h1>
    <h2>Order details</h2>
</div>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetailsId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetailsId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductId)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success mt-3" asp-action="Edit" asp-route-id="@Model?.OrderDetailsId">Edit</a>
    <a class="btn btn-success mt-3" asp-action="Index">Back to List</a>
</div>
