@model AmazonWebsite.Areas.Admin.Models.Customer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="container mt-5 text-center">
    <h1 class="display-4 text-primary font-weight-bold">Detail</h1>
    <h2 class="text-primary">Customer</h2>
</div>


<div>
    <table class="table table-striped">
        <tr>
            <th>@Html.DisplayNameFor(model => model.CustomerId)</th>
            <td>@Html.DisplayFor(model => model.CustomerId)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <td>@Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.DateOfBirth)</th>
            <td>@Html.DisplayFor(model => model.DateOfBirth)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Address)</th>
            <td>@Html.DisplayFor(model => model.Address)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.PhoneNumbers)</th>
            <td>@Html.DisplayFor(model => model.PhoneNumbers)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <td>@Html.DisplayFor(model => model.Email)</td>
        </tr>
        <tr>
            <img class ="rounded-circle" width="100" height="100" src="~/Hinh/Hinh/UserAvatar/@Model.Image" />
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Validation)</th>
            <td>@Html.DisplayFor(model => model.Validation)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Role)</th>
            <td>@Html.DisplayFor(model => model.Role)</td>
        </tr>
     
    </table>

<div>
    <a asp-action="Edit" class="btn btn-success m-1" asp-route-id="@Model?.CustomerId">Edit</a> 
    <a class="btn btn-success m-1" asp-action="Index">Back to List</a>
</div>
</div>